
h1  , th, .btn {
    
        font-family: "Poetsen One", sans-serif;
        font-weight: 400;
        font-style: normal;
      
      
}

.btn {
    
    font-family: "Poetsen One", sans-serif;
    font-style: normal;
  
  
}

@media (min-width: 576px) {
    .container, .container-sm {
        max-width: 100%;
    }
.card {
    width: 100% !important;
}

}